---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Title'
    value: page.label
  - label: 'Author'
    value: page.author
  - label: 'Publisher'
    value: page.publisher
  - label: 'Date Published'
    value: page.date_published
  - label: 'Edition'
    value: page.edition
  - label: 'Cover Art'
    value: page.cover_art
  - label: 'Cover Design'
    value: page.cover_design
  - label: 'Object Type'
    value: page.object_type
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
---